@using StudentManager.Common.Enums
@* @model StudentManager.Data.Entities.Student *@
@* @model StudentManager.Common.DTOs.StudentDTO *@
@model StudentManager.MVC.Models.StudentVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isCreate = Model == null || Model.Id == Guid.Empty;
    string actionString = isCreate ? "Create" : "Edit";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@actionString" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!isCreate)
            {
                <input asp-for="Id" type="hidden" class="form-control" />
            }
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                @if (!isCreate)
                {
                    <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden; text-align: center;">
                        <img width="100%" src="~/media/images/@Model.AvatarPath" />
                    </div>
                }
                <input asp-for="Avatar" type="file" class="form-control" />
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @* <input asp-for="Gender" class="form-control" /> *@
                @* @foreach (var gender in Enum.GetValues(typeof(GenderEnum)))
                {
                    <label>
                        <input type="radio" asp-for="Gender" value="@gender" />
                        @gender.ToString()
                    </label>
                } *@
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<GenderEnum>()">
                    <option value="">-- Select Gender --</option>
                </select>

                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hobby" class="form-label"></label>
                <select asp-for="Hobby" class="form-control" asp-items="Html.GetEnumSelectList<HobbyEnum>()"></select>
                <span asp-validation-for="Hobby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" rows="3" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MajorId" class="control-label"></label>
                <select asp-for="MajorId" class="form-control" asp-items="ViewBag.MajorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentClassId" class="control-label"></label>
                <select asp-for="StudentClassId" class="form-control" asp-items="ViewBag.ClassId"></select>
            </div>
            <div class="form-group" style="text-align: center;">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="button" onclick="openCreateClassModal()" value="Create a class" class="btn btn-info" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        @await Component.InvokeAsync("Students")
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

    </script>
}
