<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentManager.MVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentManager.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StudentManager.MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Majors/Create">Major</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Students/Create">Student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/StudentClasses/Index">Class</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - StudentManager.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Button trigger modal -->
    <button type="button" onclick="openModal();" class="btn btn-primary visually-hidden" data-bs-toggle="modal" data-bs-target="#myMusicModal">
        Launch demo XXXX modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myMusicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="myMusicModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="myMusicModalBody" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        const modalEl = document.getElementById('myMusicModal');
        const modal = new bootstrap.Modal(modalEl);

        function openModal(bodyHTML, title = null){
            let myMusicModalBody = document.getElementById("myMusicModalBody");
            if(myMusicModalBody) {
                myMusicModalBody.innerHTML = bodyHTML;
            }
            if(title){
                let myMusicModalLabel = document.getElementById("myMusicModalLabel");
                if(myMusicModalLabel){
                    myMusicModalLabel.innerText = title;
                }
            }

            modal.show();
        }
        function closeModal(){
            let modal = bootstrap.Modal.getInstance(modalEl);
            console.log("D9a4 vao day: ", modal);

            modal.hide();
            // modal.hideModal();
            
        }

        function openCreateClassModal(){
            $.ajax({
                url: '/StudentClasses/Create',
                type: 'GET',
                beforeSend: function () {

                },
                success: function (response) {
                    openModal(response, "Create a new class");
                },
                error: function (xhr, status, error) {
                    // Lỗi
                    console.error("Error:", status, error);
                },
                complete: function () {
                    // Luôn gọi dù thành công hay thất bại
                    console.log("Request completed");
                },
                timeout: 10000                    // Giới hạn thời gian (ms)
            });
        }

        function createClass(){
            let formCreateClass = document.getElementById("formCreateClass");
            let id = formCreateClass.querySelector("input[Id='Id']")?.value;
            let name = formCreateClass.querySelector("input[Id='Name']")?.value;
            let description = formCreateClass.querySelector("textarea[Id='Description']")?.value;
            let studentClassVM = {
                id: id,
                name: name,
                description
            }
            let inputToken = document.querySelector("input[name='__RequestVerificationToken']");
            $.ajax({
                url: '/StudentClasses/Create',
                type: 'POST',                     // Hoặc 'GET'
                data: { studentClassVM: studentClassVM, __RequestVerificationToken: inputToken?.value },            // Dữ liệu gửi lên server
                beforeSend: function () {
                    //=== Thường dùng để hiện thanh loading, hoặc vô hiệu nút nhấn ===//
                    console.log("Sending...");
                },
                success: function (trenTroi) {
                    // Xử lý khi gọi hàm Thành công
                    // alert(trenTroi.message + trenTroi.isOK);
                    if(trenTroi.isOK === true) {
                        closeModal();
                        // reloadClasses();
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error:", status, error);
                },
                complete: function () {
                    console.log("Request completed");
                },
                timeout: 10000  // Giới hạn thời gian (ms)
            });

        }
    </script>
</body>
</html>
